<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/65b842e152.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-light justify-content-between">
        <a class="navbar-brand " href="/products" style="color: white;">RORSCHACH</a>
        <a class="navbar-brand mr-10" href="/products" style="color: rgb(135, 128, 128);">Home</a>
        <a class="navbar-brand mr-10" href="/dashboard" style="color: rgb(135, 128, 128);">Dashboard</a>
        <a class="navbar-brand mr-auto" href="/cart" style="color: rgb(135, 128, 128);">Cart</a>
        
        
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          <a class="btn btn-danger" style="margin-left: 10px;" href="/logout">Logout</a>
        </form>
      </nav>
      <% if (locals.prof) { %>
        <div class="container">
            <div class="card " style="background-color: rgba(34, 48, 37, 0.7)">
                <h5 class="card-header text-center text-light">Hello, <%-prof-%></h5>
            </div>
        </div>
    <% } %>

    <div class="container col-md-12">
        <div class="row">
            <% productsData.forEach(ele=>{%>
                <div class="card bg-secondary" style="width: 18rem; margin-right: 45px; margin-left: 75px; margin-bottom: 20px; margin-top: 30px;">
                    <img class="card-img-top" src="<%= ele.image%>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center"><%= ele.name%></h5>
                        <p style="color: white;font-weight: 500;" class="card-text text-center">$ <%= ele.price%></p>
                        <div class="text-center">
                            <a href="#" class="btn btn-dark">Buy Now</a>
                        </div>  
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>